body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
}

header h1 {
  color: #00e5ff;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00e5ff;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 40px;
}

.hero span {
  color: #00e5ff;
}

.card {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: #00e5ff;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.project-box {
  background: rgba(0,0,0,0.3);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-box:hover {
  background: #00e5ff;
  color: black;
}

footer {
  text-align: center;
  padding: 15px;
  background: rgba(0,0,0,0.5);
  margin-top: 20px;
}
